@charset "UTF-8";


@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }
    menu{
        display: block;
        
        
    }
    menu > ul > li {
        display: inline-block;
        

    }

    menu > ul{
        margin: auto;
        position: absolute;
        left: 45vw;
        top: 1.5vw;
    }

    menu > ul > li > a{
        border-top: none;
    }

    h2{
        margin-bottom: 0px;
        top: 0.5vw;
    }
}
