@charset "UTF-8";


@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }
    menu{
        display: block;
        
        
    }
    menu > ul > li {
        display: inline-block;
        

    }

    menu > ul{
        margin: auto;
        position: absolute;
        left: 45vw;
        top: 1.5vw;
    }

    menu > ul > li > a{
        border-top: none;
    }

    h2{
        margin-bottom: 0px;
        top: 0.5vw;
    }
    section{
        background-color: #454851;
        border-radius: 10px;
        margin: 200px;
        width: 350px;
        height: 464px;
        position: absolute;
        right: center;
        bottom: -150px;
        
     }
     div#lucro{
        box-shadow: none;
        
     }
     section > p {
        
        margin: 0;
        color: #D9D9D9;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
     }
     div#imagem{
        position: absolute;
        left: 130px;
        bottom: 210px
        
     }
     div#imagem > img{
        width: 431px;
        height: 254px;
     }
    
}

@media only screen and (min-width: 992px){
    span#burguer{
        display: none;
    }
    menu{
        display: block;
        
        
    }
    menu > ul > li {
        display: inline-block;
        

    }

    menu > ul{
        margin: auto;
        position: absolute;
        left: 60vw;
        top: 1.5vw;
    }

    menu > ul > li > a{
        border-top: none;
    }

    h2{
        margin-bottom: 0px;
        top: 0.5vw;
    }
    section{
        background-color: #454851;
        border-radius: 10px;
        margin: 200px;
        width: 350px;
        height: 464px;
        position: absolute;
        right: 40vw;
        bottom: 100px;
        
     }
     div#lucro{
        box-shadow: none;
        
     }
     section > p {
        
        margin: 0;
        color: #D9D9D9;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
     }
     div#imagem{
        position: absolute;
        left: 45%;
        bottom: 100px
        
     }
     div#imagem > img{
        width: 497px;
        height: 296px;
     }

    
}

@media only screen and (min-width: 1200px) {
    span#burguer{
        display: none;
    }
    menu{
        display: block;
        
        
    }
    menu > ul > li {
        display: inline-block;
        

    }

    menu > ul{
        margin: auto;
        position: absolute;
        left: 66vw;
        top: 1.5vw;
    }

    menu > ul > li > a{
        border-top: none;
    }

    h2{
        margin-bottom: 0px;
        top: 0.5vw;
    }
    section{
        background-color: #454851;
        border-radius: 10px;
        margin: 200px;
        width: 350px;
        height: 464px;
        position: absolute;
        right: 50vw;
        bottom: 110px;
        
     }
     div#lucro{
        box-shadow: none;
        
     }
     section > p {
        
        margin: 0;
        color: #D9D9D9;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
     }
     div#imagem{
        position: absolute;
        left: 40%;
        bottom: 110px
        
     }
     div#imagem > img{
        width: 670px;
        height: 400px;
     }

}

@media only screen and (min-width: 1366px) {
    span#burguer{
        display: none;
    }
    menu{
        display: block;
        
        
    }
    menu > ul > li {
        display: inline-block;
        

    }

    menu > ul{
        margin: auto;
        position: absolute;
        left: 66vw;
        top: 1.5vw;
    }

    menu > ul > li > a{
        border-top: none;
    }

    h2{
        margin-bottom: 0px;
        top: 0.5vw;
    }
    section{
        background-color: #454851;
        border-radius: 10px;
        margin: 200px;
        width: 350px;
        height: 464px;
        position: absolute;
        right: 60vw;
        bottom: 110px;
        
     }
     div#lucro{
        box-shadow: none;
        
     }
     section > p {
        
        margin: 0;
        color: #D9D9D9;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
     }
     div#imagem{
        position: absolute;
        left: 50%;
        bottom: 100px
        
     }
     div#imagem > img{
        width: 670px;
        height: 400px;
     }
     
}